:root {
    --fonteDestaque: 'Bilbo Swash Caps', cursive;
    --fontePadrao: 'Forum', cursive;
    --cor-background: #E6E8E6;
    --cor-destaque: #542344;
    --cor-destaqueHover: #A14382;
    --cor-textoPadrao: #241D22;
    --cor-textoDestaque: #fff;
}

/* RESET */
html, body, section, article, nav, div, span, strong, h1, h2, h3, p, ul, li, i {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    border: none;
    vertical-align: baseline;
    list-style: none;
}
img {
    width: 300px;
}
button {
    border: none;
}

/* RESET */
/* GERAL */
    body {
        font-family: var(--fontePadrao);
        background-color: var(--cor-background);
    }
    a {
        text-decoration: none;
        color: var(--cor-textoPadrao);
        padding: 5px 10px;
        max-width: 90%;
        background-color: var(--cor-destaque);
        border: none;
        border-radius: 5px;
        margin: 10px 0;
        color: var(--cor-textoDestaque);
        font-family: var(--fontePadrao);
        font-size: 16px;
    }
    figcaption {
        display: none;
    }
    section {
        width: 100%;
        background-size: cover;
        padding: 20px 0;
    }
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .logoCountainer {

    }
    .logoContainer__figure img {
        width: 250px;
        margin: 15px 0;
    }
    .card {
        width: 90%;
        background-color: var(--cor-textoDestaque);
        display: flex;
        align-items: center;
    }
    .card__img {
        min-width: 60%;
        max-width: 60%;
        display: inline-flex;
    }
    .card__img img {
        width: 100%;
        height: 100%;
    }
    strong {
        font-family: var(--fonteDestaque);
        color: var(--cor-destaque);
        display: block;
        font-size: 35px;
    }
    p {
        padding-left: 10px;
        font-size: 20px;
        padding-right: 10px;
    }
/* GERAL */

/* HEADER */
    header {}
    .hero {
        width: 100%;
        height: 100vh;
        background-image: url(/assets/img/rbcosta_fundo_header.png);
        background-size: cover;
        
    }
    .hero {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
    .hero__top {
        text-align: center;
        width: 90%;
    }
    .top__title {
        font-family: var(--fonteDestaque);
        color: var(--cor-destaque);
        font-size: 60px;
        margin-bottom: 0;
    }
    .top__subTitle {
        text-transform: uppercase;
        color: var(--cor-destaque);
        font-size: 35px;
        margin-top: 0;
        
    }
    .top__description {
        margin: 15px auto;
    }
    .top__menu {}
    .menu__list {}
    .menu__list li {
        margin: 0;
    }
    .menu__list li button {
        width: 90%;
        height: 40px;
        max-width: 90%;
        background-color: var(--cor-destaque);
        border: none;
        border-radius: 5px;
        margin: 10px 0;
        color: var(--cor-textoDestaque);
        font-family: var(--fontePadrao);
        font-size: 32px;
    }
    .menu__list .whats--rose {
        font-size: 33px;
    }
    .menu__list .whats--reinaldo {
        font-size: 26px;
    }
    .menu__list li button:hover {}
    .menu__icons {
        text-align: center;
    }
    .menu__icons img {
        width: 40px;
        margin: 10px 15px;
    }
    .menu__icons img .icons__face {}
    .menu__icons .icons__email {
        height: 40px;
        width: 48px;
    }
    .menu__icons img .icons__tiktok {}
    .top__player {
        
    }
    .player__logo {
        margin-top: 20px;
        width: 150px;
    }
/* HEADER */

/* FOOTER */
    footer {
        width: 100%;
        background-color: #000;
        
        text-align: center;
    }
    .rodape {
        width: 200px;
        margin: 0 auto;
    }
    .player__logoFooter {
        width: 150px;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
/* FOOTER */

/* MAIN */

    main {}

    /* JEUNESSE */
        .jeunesse {
            background-image: url(/assets/img/rbcosta_fundo.png);
        }
        .section__jeunesse {}
        .jeunesse__logoCountainer {}
        .logoContainer__figure {
            margin: 0;
        }
        .logoContainer__figure img {}
        .logoContainer__figure figcaption {}
        .logoContainer__figure figcaption {}
        .jeunesse__card1 {
            width: 90%;
            background-color: var(--cor-textoDestaque);
            display: flex;
            align-items: center;
        }
        .card1__image {}
        .card1__image img {}
        .card1__description {}
        .card1__description p {
            font-size: 22px;
        }
        .card1__description p strong {}
        .jeunesse__callToAction {
            padding: 30px 0;
            width: 90%;
            text-align: center;
        }
        .jeunesse__callToAction a {
            font-size: 32px;
        }
        .jeunesse__card2 {
            width: 90%;
            background-color: var(--cor-textoDestaque);
            display: flex;
            align-items: center;
        }
        .card2__description {
            
        }
        .card2__description p {
            font-size: 19px;
        }
        .card2__description p strong {
            font-size: 33px;
        }
        .card2__image {
            min-width: 60%;
            display: inline-flex;
        }
        .card2__image img {
            width: 100%;
            height: 100%;
        }
    /* JEUNESSE */

    /* PLASTICOS */
        .sessao__descartaveis {
            background-image: url(/assets/img/rbcosta_fundo_header.png);
        }
        .descartaveis__idm {}
        .idm__logoCountainer figure {}
        .idm__logoCountainer .idm__logo {
            width: 200px;
        }
        .idm__card {}
        .idm__cardImage {}
        .idm__cardImage img {}
        .idm__cardDescription {}
        .idm__cardDescription p {
            font-size: 18px;
        }
        .idm__cardDescription p strong {
            font-size: 24px;
            padding-bottom: 10px;
        }
        .idm__cardDescription a {
            
        }
        .descartaveis__copomais {}
        .copomais__logoCountainer {}
        .copomais__logoCountainer figure {}
        .copomais__logoCountainer figure img {}
        .copomais__card {}
        .copomais__cardDescription {}
        .copomais__cardDescription p {
            font-size: 19px;
        }
        .copomais__cardDescription p strong {
            margin-top: -5px;
        }
        .copomais__cardDescription a {}
        .copomais__cardImage {}
        .copomais__cardImage img {}
    /* PLASTICOS */

    /* LIMPEZA */
        .sessao__limpeza {
            background-image: url(/assets/img/rbcosta_fundo.png);
        }
        .limpeza__proax {}
        .proax__logoCountainer {}
        .proax__logoCountainer figure {}
        .proax__logoCountainer .idm__logo {}
        .proax__card {}
        .proax__cardImage {}
        .proax__cardImage img {}
        .proax__cardDescription {}
        .proax__cardDescription p {
            font-size: 100%;
        }
        .proax__cardDescription p strong {}
        .proax__cardDescription a {
            font-size: 15px;
        }
    /* LIMPEZA */

    /* CONTATO */
        .limpeza__contato {}
        .contato__title {}
        .contato__title h3 {}
        .contacontato__card {}
        .contatoCard__jeunesse {}
        .contatoCard__jeunesse h4 {}
        .jeunesse__email {}
        .jeunesse__whats {}
        .jeunesse__site {}
        .contatoCard__representacoes {}
        .contatoCard__representacoes h4 {}
        .representacoes__email1 {}
        .representacoes__email2 {}
        .representacoes__whats1 {}
        .representacoes__whats2 {}
        .contatoCard__redesSociais {}
        .contatoCard__redesSociais h4 {}
        .redesSociais__insta {}
        .redesSociais__face {}
        .contato__images {}
        .img__rose {}
        .img__reinaldo {}
    /* CONTATO */
/* MAIN */

/* MEDIA */
@media (min-width: 400px) {
    strong {
        margin-top: -10px;
    }
    /* JEUNESSE */
        .card1__description p {
            font-size: 30px;
        }
        .card1__description p strong {
            font-size: 50px;
        }
        .card2__description p {
            font-size: 25px;
        }
        .card2__description p strong {
            font-size: 50px;
        }
    /* JEUNESSE */

    /* PLASTICOS */
        .idm__cardDescription p {
            font-size: 24px;
        }
        .idm__cardDescription p strong {
            font-size: 31px;
            padding-bottom: 3px;
        }
        .idm__cardDescription a {
            font-size: 22px;
        }
        .copomais__cardDescription p {
            font-size: 22px;
        }
        .copomais__cardDescription p strong {
            font-size: 40px;
        }
        .copomais__cardDescription a {
            font-size: 23px;
        }
    /* PLASTICOS */

    /* LIMPEZA */
        .proax__cardDescription p {
            font-size: 23px;
        }
        .proax__cardDescription p strong {
            font-size: 40px;
        }
        .proax__cardDescription a {
            font-size: 22px;
        }
    /* LIMPEZA */

    /* CONTATO */

    /* CONTATO */
}
@media screen (min-width: 600px) {

} 

@media screen (min-width: 800px) {
    
}
/* MEDIA */